[Unit]
Description=Frameio Django Backend (Gunicorn)
After=network.target mysql.service redis.service
Requires=mysql.service

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/opt/frameio/backend
Environment="PATH=/opt/frameio/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=frameio_backend.settings"
Environment="DOMAIN_URL=http://13.213.53.199"
ExecStart=/opt/frameio/venv/bin/gunicorn \
    --config /opt/frameio/backend/gunicorn_config.py \
    frameio_backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

Restart=always
RestartSec=3

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=frameio-backend

[Install]
WantedBy=multi-user.target

